<div class="app-about-us">
  <div class="about-us-title">
    <p>À propos.</p>
  </div>
  <div class="about-us-members">
    <div class="about-us-members-title">
      <p>Membres.</p>
    </div>
    <div class="about-us-member">
      <p>Thomas BENALOUANE</p>
      <p>Théo GRAVEC</p>
      <p>Zoé COSTAN</p>
      <p>Marine HILLIOU</p>
    </div>
  </div>
  <div class="about-us-members">
    <div class="about-us-members-title">
      <p>Le projet.</p>
    </div>
    <div class="about-us-text">
      <p>Notre projet suit l'infrastructure du schéma suivant :</p>
      <div style="height: 20px; width: 100px"></div>
      <img src="https://capyassetsstorage.s3.eu-north-1.amazonaws.com/infrastructure.png" alt="infra" class="about-us-infra">
      <div style="height: 20px; width: 100px"></div>
      <div class="about-us-steps-text">
        <p><span>1.</span> La pipeline vidéo séléctionne d'abord la vidéo présente dans le dossier local spécifié.</p>
        <p><span>2.</span> Chaque vidéo passe dans la pipeline. Elle est compressée, les sous-titres, la langue et les animaux sont détectés.</p>
        <p><span>3.</span> Le dernier pod de la pipeline crée dans AWS S3 un bucket "capydatastorage" un dossier par vidéo.</p>
        <p><span>4.</span> Dans chaque dossier, il y a la vidéo transformée, et un fichier JSON contenant les metadatas de la vidéo.</p>
        <p><span>5.</span> Le deuxième bucket "capyangularstorage" contient le site web, développé en Angular.</p>
        <p><span>6.</span> Lorsque le client se connecte à son adresse, il récupère le site web.</p>
        <p><span>7.</span> Lorsque le site web s'affiche, il utilise aws-sdk pour récuperer tout le contenu du bucket "capydatastorage".</p>
        <p><span>8.</span> Il y extrait alors chaque dossier, et créer un onglet sur le front-end pour chaque dossier.</p>
        <p><span>9.</span> Lorsque le client clique sur un des onglets, Angular récupère le contenu du dossier associé dans le bucket, c'est à dire la vidéo et le JSON.</p>
      <p><span>10.</span> Enfin, il affiche la vidéo, extrait les metadatas contenues dans le JSON et les affiche.</p>
      </div>
    </div>
  </div>
  <div style="height: 200px; width: 100px"></div>
</div>
