.app-video-step2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.video-step2-header {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 500px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.gogoback {
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
padding: 0px 20px 0px 20px;
border-radius: 15px;

p {
  font-size: 20px;
  font-weight: 600;
}
}

.gogoback:hover {
  background-color: #f1f3f1;
}


.step2-header-title {
  font-size: 25px;
  font-weight: 600;
}

.video-step2-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.step2-analyse {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.step2-analyse-title {
  font-size: 25px;
  font-weight: 600;
}

.step2-analyse-all-cards {
display: flex;
align-items: center;
justify-content: center;
gap: 20px;
}

.step2-analyse-card {
  padding: 0px 40px 0px 40px;
  background-color: white;
  border-radius: 15px;
  border: 1px solid #f1f3f1;
}

.step2-langue {
margin-bottom: 20px;

p {
  font-size: 20px;

  span {
    font-weight: 600;
  }
}
}
