.app-video-step2 {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.step2-video-viewer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}



.step2-video-viewer-title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.step2-back-button {
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
  gap: 5px;

  img {
    transform: rotate(180deg);
  }

  p {
    font-size: 16px;
    font-weight: 400;
  }
}

.step2-back-button:hover {
  background-color: #f1f3f1;
}

.step2-video-viewer-title-text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    font-size: 25px;
    font-weight: 600;
  }
}

.step2-video-viewer-video {
  width: 640px;
  height: 360px;
  overflow: hidden;

  img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  z-index: 1;
  }
}


.step2-video-data {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
}

.step2-video-data-title {
  p {
    font-size: 25px;
    font-weight: 600;
  }
}

.step2-video-data-content {

}
